<section id="sample-table" class="mat-elevation-z8 bg-white">
  <mat-form-field>
    <input matInput placeholder="Filter" />
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="w-100">
    <!-- <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container> -->
    <ng-container matColumnDef="CustomerID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CustomerID</th>
      <td mat-cell *matCellDef="let row">{{ row.CustomerID }}</td>
    </ng-container>

    <ng-container matColumnDef="CompanyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CompanyName</th>
      <td mat-cell *matCellDef="let row">{{ row.CompanyName }}</td>
    </ng-container>

    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
      <td mat-cell *matCellDef="let row">{{ row.Address }}</td>
    </ng-container>

    <ng-container matColumnDef="City">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
      <td mat-cell *matCellDef="let row">{{ row.City }}</td>
    </ng-container>

    <ng-container matColumnDef="management">
      <mat-header-cell *matHeaderCellDef>
        <u>管理</u>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" (click)="onEdit(row)">
          編輯
        </button>
        <button mat-raised-button color="warn" (click)="onDelete(row)">
          刪除
        </button>
      </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="onRowClicked(row)"
    >
      >
    </tr>
  </table>

  <mat-paginator
    [length]="100"
    [pageSize]="10"
    [pageIndex]="2"
    [hidePageSize]="true"
    [pageSizeOptions]="[10, 50, 100]"
    (page)="dataSource.loadData('', 'asc', $event.pageIndex, 10)"
  >
  </mat-paginator>

  <!-- 
<mat-paginator
    *ngIf="data.page$ | async as page"
    [length]="page.totalElements"
    [pageSize]="page.size"
    [pageIndex]="page.number"
    [hidePageSize]="true"
    (page)="data.fetch($event.pageIndex)"
  >
  </mat-paginator> -->
</section>
